.header {
  background-color: #6a1b9a;; /* Purple background */
  color: white;
  padding: 20px;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.navbar {
  background-color: #6a1b9a;; /* Darker purple */
  padding: 10px;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: white;
  color: #6a1b9a;;
  border-radius: 5px;
}
