<div class="header">
  <img src="assets/vinsys.png" alt="Vinsys Logo" class="logo" />
  <h1>Free Training & Placement Program</h1>
</div>

<nav class="navbar">
  <ul>
    <li><a href="https://www.vinsys.com" target="_blank">Home</a></li>
    <li><a href="http://localhost:8080/api/programs" target="_blank">Programs</a></li>
    <li><a href="http://localhost:8080/api/contact" target="_blank">Contact Us</a></li>
    <li><a href="https://www.vinsys.com/about-us" target="_blank">About Us</a></li>
  </ul>
</nav>
